*{
    margin: 0;
    padding: 0;
}
:root{
    --color-principal:#d1dc5a;
    --color-secundario:#e0f7e0;
}
.nav{
    width: 100%;
    position: sticky;
    top:0;
    z-index: 999;
    background-color:var(--color-principal) !important;
}
body{
    min-height: 100vh;
    background: var(--color-secundario)!important;
}
  header img {
    height: 90px;
    width: 90px;
  }
  .descripcion_logo{
    font-style: oblique;
    color: black;
}
a :hover{
    color: whitesmoke;
}
i{
    font-size: 15px;
}
footer{
    background-color: #d1dc5a;
    justify-content: space-around;
    bottom: 0;
    position: static;
    width: 100%;
    
}
.img-footer{
    height: 200px;
    width: 200px;
}
 .imagenProducto{
    height: 250px;
    object-fit: cover;
}
